.details-mobile-info-data {
  padding-left: 5px;
  color: hsl(207, 26%, 17%);
  font-weight: 300;
}

.night .details-mobile-info-data {
  color: hsl(0, 0%, 98%);
}

.details-container {
  display: grid;
  gap: 20px;
  place-content: center;
  margin-top: 30px;
}

.back-arrow {
  width: 20px;
}

.back-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
  padding: 5px 20px;
  margin-left: 2vw;
  box-shadow: 3px 3px 0 2px #000;
}

.detail-info-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.detail-info-section h4 {
  color: hsl(207, 26%, 17%);
  margin: 0;
  padding-bottom: 10px;
  font-weight: 600;
}

.night .detail-info-section h4 {
  color: hsl(0, 0%, 98%);
}

.night .back-btn {
  box-shadow: 3px 3px 0 2px #000;
  background: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 98%);
}

.country-detail-section picture {
  display: grid;
  place-content: center;
}

.country-detail-info-container {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.night .country-detail-info-container h1 {
  color: hsl(0, 0%, 98%);
}

.night .back-btn:hover {
  box-shadow: 3px 3px 0 2px #000;
  background: hsl(0, 0%, 52%);
  color: hsl(207, 26%, 17%);
}

.night .border-container h4 {
  color: hsl(0, 0%, 98%);
  font-weight: 600;
}

.border-on-i-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.border-on-i {
  border: 1px solid hsl(0, 0%, 52%);
  padding: 2px 20px;
  color: hsl(207, 26%, 17%);
  font-weight: 300;
  box-shadow: 0 0 2px #000;
}

.night .border-on-i {
  color: hsl(0, 0%, 98%);
}

@media (min-width: 745px) {
  .details-container {
    display: grid;
    gap: 50px;
  }

  .country-detail-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    padding: 20px 50px;
  }

  .svg-flag {
    max-width: 80%;
    place-self: center;
    border: 1px solid #000;
  }

  /* .country-detail-info-container {
    display: grid;
    flex-direction: column;
    padding: 40px; 
    grid-template-columns: 1fr 1fr;
  } */

  .detail-info-section-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .detail-info-section:nth-child(3) {
    
    width: 100%;
  }

  .border-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
  }

  .back-btn {
    margin-left: 8vw;
  }
}
